src/main/webapp/WEB-INF/wsdl/invoice.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080/invoice/schema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/invoice/schema"
                  targetNamespace="http://localhost:8080/invoice/schema">
    <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ih="http://localhost:8080/invoice/schema"
                   elementFormDefault="qualified" targetNamespace="http://localhost:8080/invoice/schema">
            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice schema</xs:documentation>
            </xs:annotation>
            <!--  Invoice object  -->
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Invoice">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice object.</xs:documentation>
                </xs:annotation>
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="requestDateTime"
                                    type="xs:string"/>
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" maxOccurs="1" name="invoiceHeaderData"
                                    type="ih:InvoiceHeader"/>
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" maxOccurs="unbounded"
                                    name="invoiceRecordData" type="ih:InvoiceRecord"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SendInvoiceRequest">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" ref="ih:Invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SendInvoiceResponse">
                <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="status" type="ih:Status"/>
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="description" type="xs:string"/>
                        <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="timestamp" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--  Request Item: INVOICE HEADER  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="InvoiceHeader">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        Invoice header containing information about supplier, buyer and transaction.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="supplier" type="ih:Supplier"/>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buyer" type="ih:Buyer"/>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="transaction" type="ih:Transaction"/>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE RECORD  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="InvoiceRecord">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                        Invoice record containing information about merch name, amount, quantity, prices...
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="recordNumber">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Record number, 3
                                    characters, number only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,3}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="merchOrServiceName">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    Merch or service name, 120 characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="preserve"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="120"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z]{0,120}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="amount">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Amount, decimal number in
                                    format 10,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,10}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="unitOfIssue">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Unit of issue, 6
                                    characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="6"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z]{0,6}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="unitPrice">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Unit price, decimal number
                                    in format 10,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,10}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="value">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Value, decimal number in
                                    format 12,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,12}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="rebatePercentage">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate percentage, decimal
                                    number in format 5,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,5}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="rebateAmount">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate amount, decimal
                                    number in format 12,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,12}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="rebateDeducted">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate deducted, decimal
                                    number in format 12,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,12}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="taxTotal">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Tax total, decimal number
                                    in format 12,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,12}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE HEADER - SUPPLIER  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Supplier">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier properties.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="supplierName">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier name, max 255
                                    characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="preserve"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="255"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z ]{0,255}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="supplierAddress">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier address, max 255
                                    characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="preserve"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="255"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z ]{0,255}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="supplierPIB">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    Supplier PIB, 11 characters, numbers only (first character must not be zero
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:length xmlns:xs="http://www.w3.org/2001/XMLSchema" value="11"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[1-9][0-9]{10}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE HEADER - BUYER  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Buyer">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer properties.</xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buyerName">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer name, max 55
                                    characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="255"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z ]{0,55}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buyerAddress">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer address, max 55
                                    characters, alphanumeric
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:minLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:maxLength xmlns:xs="http://www.w3.org/2001/XMLSchema" value="255"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z0-9 ]{0,55}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="buyerPIB">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    Buyer PIB, 11 characters, numbers only (first character must not be zero
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:length xmlns:xs="http://www.w3.org/2001/XMLSchema" value="11"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[1-9][0-9]{10}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="account" type="ih:Account"/>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE HEADER - TRANSACTION  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Transaction">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Transaction properties.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="merchValue">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Merch value, decimal
                                    number in format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{0,2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="serviceValue">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Service value, decimal
                                    number in format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{0,2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="sums" type="ih:Sums"/>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="amountToPay">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Amount to pay, decimal
                                    number in format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="payToAccount">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    Pay to account, 18 characters, numbers and dashes only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[1-9]{1}[\d\-]{17}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="currencyCode">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Currency code, max 3
                                    characters, letters only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[a-zA-Z]{3}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dateOfCurrency">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Date of currency, date in
                                    format yyyy-MM-dd
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE HEADER - TRANSACTION/SUMS  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Sums">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Handles sums in transaction.
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="merchAndServiceSum">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                    Merch and service sum, decimal number in format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="rebateSum">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate sum, decimal number
                                    in format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="taxSum">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Tax sum, decimal number in
                                    format 15,2
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:decimal">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:fractionDigits xmlns:xs="http://www.w3.org/2001/XMLSchema" value="2"/>
                                <xs:minInclusive xmlns:xs="http://www.w3.org/2001/XMLSchema" value="1"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="\d{1,15}.{0,1}\d{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <!--  Request Item: INVOICE HEADER - ACCOUNT  -->
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Account">
                <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account properties.</xs:documentation>
                </xs:annotation>
                <xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="accountNumber">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account number, 6
                                    characters, numbers only
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                                <xs:pattern xmlns:xs="http://www.w3.org/2001/XMLSchema" value="[0-9]{6}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="accountDate">
                        <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
                            <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
                                <xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account date, date in
                                    format yyyy-MM-dd
                                </xs:documentation>
                            </xs:annotation>
                            <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                                <xs:whiteSpace xmlns:xs="http://www.w3.org/2001/XMLSchema" value="collapse"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <!--  Service status  -->
            <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Status">
                <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
                    <xs:enumeration xmlns:xs="http://www.w3.org/2001/XMLSchema" value="OK"/>
                    <xs:enumeration xmlns:xs="http://www.w3.org/2001/XMLSchema" value="ERROR"/>
                    <xs:enumeration xmlns:xs="http://www.w3.org/2001/XMLSchema" value="PENDING"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoiceResponse">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="tns:SendInvoiceResponse"
                   name="SendInvoiceResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoiceRequest">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="tns:SendInvoiceRequest"
                   name="SendInvoiceRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:portType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Invoice">
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoice">
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:SendInvoiceRequest"
                        name="SendInvoiceRequest"></wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:SendInvoiceResponse"
                         name="SendInvoiceResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="InvoiceSoap11" type="tns:Invoice">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoice">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoiceRequest">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="SendInvoiceResponse">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="InvoiceService">
        <wsdl:port xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" binding="tns:InvoiceSoap11" name="InvoiceSoap11">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:8080/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>