src/main/webapp/WEB-INF/wsdl/invoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://localhost:8080/holidayService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8080/holidayService/" targetNamespace="http://localhost:8080/holidayService/">
	<wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ih="http://localhost:8080/holidayService/"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://localhost:8080/holidayService/">

			<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice schema
				</xs:documentation>
			</xs:annotation>

			<!-- Invoice contains these elements -->
			<xs:element name="InvoiceRequest" type="ih:InvoiceRequest"
				xmlns:xs="http://www.w3.org/2001/XMLSchema" />
			<xs:element name="InvoiceResponse" type="ih:InvoiceResponse"
				xmlns:xs="http://www.w3.org/2001/XMLSchema" />

			<!-- Request Items -->
			<xs:complexType name="InvoiceRequest"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice request
						elements.</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="requestDateTime" type="xs:date"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element maxOccurs="1" name="invoiceHeaderData" type="ih:InvoiceHeader"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element maxOccurs="unbounded" name="invoiceRecordData"
						type="ih:InvoiceRecord" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER -->
			<xs:complexType name="InvoiceHeader"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice header
						containing information about supplier, buyer and transaction.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="supplier" type="ih:Supplier"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="buyer" type="ih:Buyer"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="transaction" type="ih:Transaction"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE RECORD -->
			<xs:complexType name="InvoiceRecord"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice record
						containing information about merch name, amount, quantity,
						prices...</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="recordNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Record number, 3
									characters, number only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[0-9]{3}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="merchOrServiceName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Merch or service
									name, 120 characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="preserve"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="120"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z]{0,120}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="amount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Amount, decimal
									number in format 10,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,10},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="unitOfIssue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Unit of issue, 6
									characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="6"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z]{0,6}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="unitPrice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Unit price, decimal
									number in format 10,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,10},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="value" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Value, decimal
									number in format 12,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,12},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="rebatePercentage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate percentage,
									decimal number in format 5,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,5},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="rebateAmount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate amount,
									decimal number in format 12,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,12},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="rebateDeducted" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate deducted,
									decimal number in format 12,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,12},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="taxTotal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Tax total, decimal
									number in format 12,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,12},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER - SUPPLIER -->
			<xs:complexType name="Supplier"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier properties.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="supplierName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier name, max
									255 characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="preserve"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="255"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z ]{0,255}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="supplierAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier address,
									max 255 characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="preserve"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="255"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z ]{0,255}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="supplierPIB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Supplier PIB, 11
									characters, numbers only (first character must not be zero
								</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:length value="1" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[1-9][0-9]{10}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER - BUYER -->
			<xs:complexType name="Buyer"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer properties.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="buyerName" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer name, max 55
									characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="255"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z ]{0,55}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="buyerAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer address, max
									55 characters, alphanumeric</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minLength value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:maxLength value="255"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z0-9 ]{0,55}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="buyerPIB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Buyer PIB, 11
									characters, numbers only (first character must not be zero
								</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:length value="11" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[1-9][0-9]{10}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="account" type="ih:Account"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER - TRANSACTION -->
			<xs:complexType name="Transaction"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Transaction properties.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="merchValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Merch value, decimal
									number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{0,2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="serviceValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Service value,
									decimal number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{0,2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="sums" type="ih:Sums"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="amountToPay" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Amount to pay,
									decimal number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="payToAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Pay to account, 18
									characters, numbers and dashes only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[1-9]{1}[\d\-]{17}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="currencyCode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Currency code, max 3
									characters, letters only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[a-zA-Z]{3}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="dateOfCurrency" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Date of currency,
									date in format yyyy-MM-dd</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:date"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{4}-\d{2}-\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER - TRANSACTION/SUMS -->
			<xs:complexType name="Sums"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Handles sums in
						transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="merchAndServiceSum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Merch and service
									sum, decimal number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="rebateSum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Rebate sum, decimal
									number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="taxSum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Tax sum, decimal
									number in format 15,2</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:decimal"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:fractionDigits value="2"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:minInclusive value="1"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{1,15},{0,1}\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<!-- Request Item: INVOICE HEADER - ACCOUNT -->
			<xs:complexType name="Account"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account properties.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element name="accountNumber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account number, 6
									characters, numbers only</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:string"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^[0-9]{6}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="accountDate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
						<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema">
							<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Account date, date
									in format yyyy-MM-dd</xs:documentation>
							</xs:annotation>
							<xs:restriction base="xs:date"
								xmlns:xs="http://www.w3.org/2001/XMLSchema">
								<xs:whiteSpace value="collapse"
									xmlns:xs="http://www.w3.org/2001/XMLSchema" />
								<xs:pattern value="^\d{4}-\d{2}-\d{2}$" xmlns:xs="http://www.w3.org/2001/XMLSchema" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<!-- Response Items -->
			<xs:complexType name="InvoiceResponse"
				xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:documentation xmlns:xs="http://www.w3.org/2001/XMLSchema">Invoice response.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:element maxOccurs="1" name="invoiceId" type="xs:long"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="responseDateTime" type="xs:dateTime"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="status" type="ih:Status"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:element name="description" type="xs:string"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
				</xs:sequence>
			</xs:complexType>

			<!-- Service status -->
			<xs:simpleType name="Status" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:restriction base="xs:string"
					xmlns:xs="http://www.w3.org/2001/XMLSchema">
					<xs:enumeration value="OK"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:enumeration value="ERROR"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
					<xs:enumeration value="PENDING"
						xmlns:xs="http://www.w3.org/2001/XMLSchema" />
				</xs:restriction>
			</xs:simpleType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="InvoiceResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="tns:InvoiceResponse" name="InvoiceResponse"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="InvoiceRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:part element="tns:InvoiceRequest" name="InvoiceRequest"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="InvoicePort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:operation name="Invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<wsdl:input message="tns:InvoiceRequest" name="InvoiceRequest"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:input>
			<wsdl:output message="tns:InvoiceResponse" name="InvoiceResponse"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvoicePortSoap11" type="tns:InvoicePort"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="Invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:operation soapAction=""
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input name="InvoiceRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output name="InvoiceResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InvoicePortService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
		<wsdl:port binding="tns:InvoicePortSoap11" name="InvoicePortSoap11"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<soap:address location="http://localhost:8080/holidayService/InvoiceRequest"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>